body {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.page-title {
  color: red;
}

.page-title .page-title-enjoy {
  color: darkturquoise;
}

.page-title-enjoy {
  text-transform: uppercase;
  color: blue;
}

.cursive {
  font-family: 'Zapfino'
}

.cursive.big {
  font-size: 50px;
}