@font-face {
  font-family: 'Karla Bold';
  src: url('fonts/Karla-Bold.ttf');
}
.karla-bold { font-family: 'Karla Bold'; }

@font-face {
  font-family: 'Karla Bold Italic';
  src: url('fonts/Karla-BoldItalic.ttf');
}
.karla-bold-italic { font-family: 'Karla Bold Italic'; }

@font-face {
  font-family: 'Karla Italic';
  src: url('fonts/Karla-Italic.ttf');
}
.karla-italic { font-family: 'Karla Italic'; }

@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Regular.ttf');
}
.karla { font-family: 'Karla'; }

@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico.ttf');
}
.pacifico { font-family: 'Pacifico'; }


/**
 * start page styling
 *
 **/
body {
  font-family: arial;
  font-size: 16px;
  line-height: 1.25em;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 3em;
  font-family: "Pacifico";
  color: #666;
  margin: 1em auto;
}

header {
  background-color: black;
  text-align: center;
  padding-top: 10px;
}

header img {
  max-width: 60%;
}


nav ul {
  padding: 1em 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 70%;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  margin: .5em;
}

footer {
  background: #222222;
  color: white;
  text-align: center;
  padding: 3em 2em;
}

section p {
  line-height: 2em;
  margin-bottom: 2em;
}

.banner {
    background: linear-gradient(to top,
      rgba(0, 0, 0, .35) 0%,
      rgba(0, 0, 0, .25) 100%
    ),
    url('../images/kayak-bkgd.jpg');
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}

.site-title span {
  display: block;
  color: white;
  text-align: center;
  padding: .5em 0;
}

.enjoy-the {
  font-size: 1.5em;
  text-transform: uppercase;
}

.great-outdoors, .from-the-water {
  text-shadow: 2px 2px 5px #999;
}

.great-outdoors {
  font-size: 3em;
}

.from-the-water {
  font-size: 2.25em;
}

.banner p {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  margin: 1.5em auto;
  margin-bottom: 3em;
  padding: 1em;
  width: 75%;
}

a.btn-signup {
  background-color: #e2574c;
  border-radius: 2em;
  border: 1px solid #e2574c;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.15em;
  padding: .75em;
}

.about {
  text-align: center;
}

.promo-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.promo-images img {
  width: 100%;
  margin: .5em 0;
  box-shadow: 1px 0px 5px 1px #666;
}

.location {
  text-align: center;
}

.map {
  width: 100%;
  height: 40vh;
}

footer nav ul {
  justify-content: center;
}

footer ul li {
  margin: .5em;
  color: white;
}